flask
flask-sqlalchemy
flask-cors
pdfplumber
python-docx
groq
gunicorn
werkzeug
reportlab
python-dotenv
email_validator
flask
flask-sqlalchemy
gunicorn
psycopg2-binary
email_validator
flask
flask-sqlalchemy
gunicorn
psycopg2-binary
